body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
/*

div {
    border-style: dashed;
    border-width: thin;
}
*/

#page {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#navigation {
    
  
    height: 6vh;
    width: 100%;
    align-content: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    position: fixed;
    background-color: #fff;
}

#sitetitle {
    float: left;
    padding: 15px;
    margin-left: 40px;
    font-size: 16px;
    font-weight: bold;
}

#content {
    width: 100%;
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Arvo', serif;
  
    
}


.featuredimage {
    width: 80%;
    height: 500px;
    border-style: solid;
    margin: 20px;
    margin-left: 50px;
    background-color: gray;

    
}

.frontpagetext {
    width: 80%;
    margin: 20px;
    margin-left: 50px;
    
}

#pagetitle {

    margin-left: 50px;
      margin-top: 5vh;
   
}

.navcontent {
    font-weight: bold;
    margin: 7px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 100px;

}

.navbuttons {

    margin-left: 40px;
    padding: 8px;
    font-size: 12px;
}


.navbuttons:hover {
    background-color: #eee;
    color: #000;
}

h1 {
    color: #eb4223;
}

@media screen and (max-width: 900px) {

   
    #content {
   
    display: flex;
    flex-direction: column;
    
}